name: Test

on: [push]

permissions:
  contents: read

jobs:
  test:
   runs-on: ubuntu-latest

   steps:
    - uses: actions/checkout@v4
      
    - name: Setup Python environment
      uses: actions/setup-python@v5
      with:
       python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install --no-interaction

    - name: Run tests
      run: |
        coverage run -m pytest tests
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}